.places {
	display: flex;
	flex-direction: column;
}
/*==========================*/
/* Style for tile into places section */
/*==========================*/
.places > h1 {
	font-size: 30px;
	margin-left: 15px;
}
/*========================*/
/* Styles for options places */
/*========================*/
.places .places_main {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-evenly;
}

.places_main .places_item {
	width: 390px;
	padding: 20px;
	margin: 20px;
	border: 1px solid #FF5A5F;
	border-radius: 4px;
	text-align: center;
}

.places_main .places_item > h2 {
	font-size: 30px;
}
